<a href="https://colab.research.google.com/github/serfio1983/Modification-of-the-date-of-birth-insurance-company.ipynb/blob/main/Modification_of_the_date_of_birth_insurance_company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

It is intuited that the clients of an insurance company are changing their date of birth from the application to pay less for the service. We need to check if for each client name there is more than one date of birth and if so what is the difference in days since this impacts the cost of the insurance.

In [ ]:
#Create a dataframe to check the operation of the code.

import pandas as pd

data = {'Name':['Tim','Tom', 'nick','Tim', 'Tom', 'Jack','Tim'], 'Age':[20, 21, 19, 13, 16, 18, 20], 'Birth':['2003-07-01','2001-08-01','2002-09-02','2008-08-02','2007-07-01','2001-08-01','2002-09-02']}

df = pd.DataFrame(data)

print(df)

   Name  Age       Birth
0   Tim   20  2003-07-01
1   Tom   21  2001-08-01
2  nick   19  2002-09-02
3   Tim   13  2008-08-02
4   Tom   16  2007-07-01
5  Jack   18  2001-08-01
6   Tim   20  2002-09-02

In [ ]:
#Show when a name has more than one birthday, indicate the quantity that exceeds one:
df1 = df.groupby('Name').Birth.nunique().sub(1).reset_index()
df1

   Name  Birth
0  Jack      0
1   Tim      2
2   Tom      1
3  nick      0

In [ ]:
#Column is: This Name has more than one birthday?
df1['is:'] = df1['Birth'].map(lambda x: x != 0)
df1

   Name  Birth    is:
0  Jack      0  False
1   Tim      2   True
2   Tom      1   True
3  nick      0  False

In [ ]:
# Get only the rows that have more than one birthday
df2 = df1[df1["is:"] == True]
df2

  Name  Birth   is:
1  Tim      2  True
2  Tom      1  True

In [ ]:
# for loop returns a list of Name that have more than one birthday.
lista = []
for i in df2.Name:
  lista.append(i)

lista

['Tim', 'Tom']

In [ ]:
"""The following for loop loops through the list of names with more than one birthday and returns a dataframe 
with the names and the distance in time between the first and last birthdays."""

Name = []
birth_sub = []


for i in lista: 
  df3 = df[df["Name"] == i].reset_index() #The following code fragment builds from the original (df) a new data frame (df3) with only the rows of those Names that have more than one birthday.
  df3 = df3.iloc[[0, -1]].reset_index() #If each Name has more than two birthdays, this code snippet removes all intermediates, keeps only the first row (0) and last row (-1).
  df3['Birth'] = df3['Birth'].apply(pd.to_datetime) #pd.to_datetime: Convert a string to a Python understandable date:
  df3["Birth_sub"] = df3.loc[0,"Birth"] - df3.loc[1,"Birth"] #This code snippet allows subtraction between the first birthday (cell (row 0, column 'Birth')) and the last birthday (after index reset) (cell (row 1, column 'Birth')):
  Name.append(df3.loc[0,"Name"]) #Add to the Name list the data that appears in the cell (row = 0, column = Name).
  birth_sub.append(df3.loc[0,"Birth_sub"]) #Add to the birth_sub list the data that appears in the cell (row = 0, column = Name).

# Rebuild dataframe with the data stored in the lists.
dat = {"Name":Name, "Birth_sub" :birth_sub}
df4 = pd.DataFrame(dat)

print("Difference in days between the first birthday and the last:")
display(df4)

Difference in days between the first birthday and the last:

  Name  Birth_sub
0  Tim   302 days
1  Tom -2160 days